@*@model TraveLinux.Web.Models.ProveedorViewModels*@

@using TraveLinux.Web.Models
@model IEnumerable<ServicioViewModels>
@{
    ViewBag.Title = "TarifaProveedor";
}

    @section Scripts {
        <script src="~/Scripts/app/MantenimientoTarifaDetalle.js"></script>
    }

    <style>

        table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #00a65a;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

        .the-legend {
            border-style: none;
            border-width: 0;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }

        .the-fieldset {
            border: 2px groove threedface #444;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }
    </style>      
    @*<script id="responsive-template" type="text/x-handlebars-template">
            <div class="row">
                <div class="col-xs-12 header">
                    <p id="tarifa"></p>
                    <span>
                        <strong>TARIFA</strong>
                        <span id="tarifa"></span>
                    </span>

                </div>
                <div class="col-xs-12 details">
                    <table class="table table-borderless full-width">
                        <tbody>
                            <tr>
                                <th>NOMBRE</th>
                                <td id="nombre"></td>
                            </tr>
                            <tr>
                                <th>FECHA VALIDEZ</th>
                                <td id="fechavalidez"></td>
                            </tr>
                            <tr>
                                <th>FECHA INICIO</th>
                                <td id="fechainivigencia"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>*@

    <section class="content-header">

        @*<h1>Datos Generales</h1>*@

    </section>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Datos Generales</h3>*@
                    </div>
                    <div class="box-body">      
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-7 col-md-7">
                                <fieldset class="well the-fieldset">
                                    <legend class="the-legend">@*<b>Beginning</b>*@</legend>
                                    <label for="alias" class="col-sm-3 control-label no-pad-right">Supplier:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="proveedor_nombre" value="@ViewBag.Proveedor_Nombre" disabled>
                                        <input class="form-control hidden" id="proveedor" value="@ViewBag.Proveedor" disabled>
                                        <br />
                                    </div>                                     
                                @*<label for="name" class="col-sm-3 control-label no-pad-right">Seleccionar:</label>
                                <div class="col-xs-12 col-sm-7 col-md-7">
                                    <select id="Tservicio" class="selectpicker">
                                        <option value="0">--- OPCION ---</option>
                                        <option value="TER">TERRESTRE</option>
                                        <option value="AER">AEREO</option>
                                        <option value="HOT">HOTELES</option>                                   
                                    </select>
                                </div>*@                       
                                </fieldset>
                            </div>
                        </div> 

                        @* PARA TERRESTRE Y AEREO *@


                            @using (Html.BeginForm("NuevaTarifaDetalle", "TarifaDetalle", new
                            {
                                Proveedor = @ViewBag.Proveedor,
                                TipoServicio = "TerAer"

                            }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="file" name="UploadedFile" />

                                <br />
                                <span id="lblError" style="color: red;"></span>
                                <br />

                                    <input type="submit" name="Submit" value="Submit" onclick="return ValidateExtension()" />
                            }

                            @if (Model != null)
                            {
                                <table class="table" id="tblCustomers" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>DESCRIPCION</th>
                                            <th>TIPO_SERVICIO</th>
                                            <th>FECHA_INI</th>
                                            <th>FECHA_FIN</th>
                                            <th>TIPO_PERSONA</th>
                                            <th>RANGO_PAX</th>
                                            <th>PRECIO</th>
                                            <th>TIPO_SERVICIO_ABREV</th>
                                            <th class="hidden">TEMPORADA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ServicioViewModels tarif in Model)
                                        {
                                            <tr>
                                                <td id="descripcion">@tarif.DESCRIPCION</td>
                                                <td id="tiposervicio">@tarif.TIPO_SERVICIO</td>
                                                <td id="fecha_inicio">@tarif.FECHA_INI</td>
                                                <td id="fecha_fin">@tarif.FECHA_FIN</td>
                                                <td id="tipopersona">@tarif.TIPO_PERSONA</td>
                                                <td id="rangopax">@tarif.RANGO_PAX</td>
                                                <td id="precio">@tarif.PRECIO</td>
                                                <td id="tipo_servicio_abrev">@tarif.TIPO_SERVICIO_ABREV</td>
                                                <td class="hidden" id="temporada">@tarif.TEMPORADA</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            <button class="btn btn-warning" id="btn-guardarCarga">
                                <span class="glyphicon glyphicon-save">SAVE</span>
                            </button>




                        </div>
                </div>
            </div>
        </div>
    </div> 
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
