@model TraveLinux.Web.Models.ServicioViewModels
@{
    ViewBag.Title = "TarifaProveedor";
}

<h2>Rate Period</h2>

@section Scripts {
    <script src="~/Scripts/app/MantenimientoTarifa.js"></script>
}

<style>
    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>
<script id="responsive-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-xs-12 header">
            <p id="tarifa"></p>
            <span>
                <strong>TARIFA</strong>
                <span id="tarifa"></span>
            </span>

        </div>
        <div class="col-xs-12 details">
            <table class="table table-borderless full-width">
                <tbody>
                    <tr>
                        <th>NOMBRE</th>
                        <td id="nombre"></td>
                    </tr>
                    <tr>
                        <th>FECHA VALIDEZ</th>
                        <td id="fechavalidez"></td>
                    </tr>
                    <tr>
                        <th>FECHA INICIO</th>
                        <td id="fechainivigencia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<section class="content-header">

    @*<h1>Datos Generales</h1>*@

</section>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>*@
                </div>

                <div class="box-body">
                    <div class="form-group">                        
                        @*<div class="col-sm-4 col-md-3">
                            <a class="btn btn-warning btn-block RegistrarTarifDetalle"><span class="glyphicon glyphicon-list-alt"></span> Details Services</a>
                            <br />
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <a class="btn btn-warning btn-block" disabled><span class="glyphicon glyphicon-list-alt"></span> </a>
                            <br />
                        </div>
                        <div class="col-sm-4 col-md-3">
                          
                            <button class="btn btn-warning btn-block RegistrarTarifa" title="Crear Tarifa"><span class="glyphicon glyphicon-list-alt"></span> New Tarif</button>
                            <br />
                        </div>*@
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Supplier:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" value="@Model.PROVEEDOR_NOMBRE" disabled>
                            <input type="hidden" class="form-control" id="proveedor" value="@Model.PROVEEDOR" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service Type:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control"  value="@Model.DESCR_TIPO_SERVICIO" disabled>
                            <input type="hidden" class="form-control" id="tiposervicio" value="@Model.TIPO_SERVICIO" disabled>
                            <input type="hidden" class="form-control" id="servicio" value="@Model.SERVICIO" disabled>
                            
                        </div>                      
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service description:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" value="@Model.NOMBRE" disabled>                            
                        </div>                     
                    </div>                   
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>*@
                </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-4 col-md-3">
                                <button type="button" class="btn btn-warning RegistrarPeriodo">New Perido</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Rate period:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="periodo" class="selectpicker" data-size="5">
                                    <option value="0">--- Seleccione ---</option>
                                    @foreach (var fechas in Model.Fechas)
                                    {
                                        <option value="@fechas.ID_TARIFA">@fechas.FECHA</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Type accommodation:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipoacomodacion" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="PRIVADO">Privado</option>
                                    <option value="COMPARTIDO">Compartido</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Passenger Type:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipopasajero" class="selectpicker" data-size="5">
                                    <option>--- Seleccione ---</option>
                                    <option value="ADULTO">ADULTO</option>
                                    <option value="CHILD">NIÑO</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Number of people:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="npersona" value="">                                
                            </div>
                            <label for="alias" class="col-xs-12 col-sm-1 control-label no-pad-right">Until:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="hasta" value="" >                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Net rate x person:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="neto" value="">                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-3">
                                <button type="button" class="btn btn-warning RegistrarTarifa">Guardar Tarifa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Resultados</h3>
                </div>
                <form>
                    <div class="box-body">
                        <table id="resultados" class="display compact responsive no-wrap" style="width: 100%;"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
