@model TraveLinux.Web.Models.ProveedorViewModels
@{
    ViewBag.Title = "EditarProveedor";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoProveedor.js"></script>
}
@section Styles {

    <style>
        textarea {
            height: 100px;
            max-height: 100px;
        }

        .form-horizontal .form-group {
            margin-bottom: 30px;
        }
    </style>
}
<section class="content-header">
    <h1>Edit Supplier</h1>
</section>

<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos Generales</h3>
                </div>
                <input type="hidden" name="name" id="proveedor" value="@Model.PROVEEDOR" />
                <div class="box-body">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label no-pad-right">Code:</label>
                        <div class="col-sm-4">
                            <input disabled class="form-control" id="ruc" name="ruc" value="@Model.RUC">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Name:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" placeholder="Enter Name" value="@Model.PROVEEDOR_NOMBRE">
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-4 col-sm-4">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" class="styled" id="inlineCheckbox1">
                                    <label for="inlineCheckbox1" class="">Active?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-sm-2 control-label no-pad-right">Alias:</label>
                        <div class="col-xs-12 col-sm-5">
                            <input class="form-control" id="alias" placeholder="Enter Alias" value="@Model.ALIAS">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-xs-12 col-sm-2 control-label no-pad-right">Type:</label>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <select id="tproveedor" class="selectpicker" data-size="5">
                                @*<option value="@Model.TPROVEEDOR">@Model.TPROVEEDOR</option>*@
                                <option>--- Seleccione ---</option>
                                <option value="GUA">GUIA</option>
                                <option value="OPE">OPERADOR</option>
                                <option value="HTL">HOTEL</option>
                                <option value="OFI">OFICINA</option>
                                <option value="OTR">OTROS</option>
                            </select>
                        </div>
                 
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Country:</label>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <select id="pais" class="selectpicker" data-size="5" data-live-search="true">
                                <option value="@Model.PAIS">@Model.PAIS_NOMBRE</option>
                                @foreach (var paises in Model.Paises)
                                {
                                    <option value="@paises.PAIS">@paises.NOMBRE</option>
                                }
                            </select>
                        </div>
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">City:</label>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            @*<p>State:</p>*@
                            <select id="departamentos" class="selectpicker">
                                <option value="@Model.CIUDAD">@Model.NOMBRE_CIUDAD</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label no-pad-right">Address:</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="5" placeholder="Enter ..." id="direccion">@Model.DIRECCION</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label no-pad-right">Web Page:</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="paginaweb" name="paginaweb" value="@Model.PAGINAWEB">
                        </div>

                    </div>
                  
                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Language:</label>
                        <div class="col-xs-4 col-sm-1">
                            <select id="idioma" class="selectpicker">
                                <option value="@Model.IDIOMA">@Model.IDIOMA</option>
                                <option value="ALEMAN">ALEMAN</option>
                                <option value="ESPAÑOL">ESPAÑOL</option>
                                <option value="INGLES">INGLES</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <p>Email:</p>
                            <input class="form-control" id="email1" placeholder="Enter Email" value="@Model.EMAIL_1">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <p>Email 2:</p>
                            <input class="form-control" id="email2" placeholder="Enter Email" value="@Model.EMAIL_2">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-sm-3">
                            <p>Email 3:</p>
                            <input class="form-control" id="email3" placeholder="Enter Email" value="@Model.EMAIL_3">
                        </div>
                        @*<div class="col-xs-12 col-sm-12 col-sm-3">
                <p>&nbsp;</p>
                <button type="button" class="btn btn-success btn-sm" id="mostrar_email"> <span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-danger btn-sm" id="eliminar_email"> <span class="glyphicon glyphicon-minus"></span></button>
            </div>*@
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <p>Phone:</p>
                            <input class="form-control" id="telefono1" placeholder="Enter Phone" value="@Model.TELEFONO_1">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-sm-3">
                            <p>Phone 2:</p>
                            <input class="form-control" id="telefono2" placeholder="Enter Phone" value="@Model.TELEFONO_2">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-sm-3">
                            <p>Phone 3:</p>
                            <input class="form-control" id="telefono3" placeholder="Enter Phone" value="@Model.TELEFONO_3">
                        </div>
                        @*<div class="col-xs-12 col-sm-12 col-sm-3">
                <p>&nbsp;</p>
                <button type="button" class="btn btn-success btn-sm" id="mostrar_fono"> <span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-danger btn-sm" id="eliminar_fono"> <span class="glyphicon glyphicon-minus"></span></button>
            </div>*@
                    </div>
                 
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Contact</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Contact 1:</label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="nombre_contacto1" name="nombre_contacto" value="@Model.NOMBRE_CONTACTO_1" placeholder="Enter Name">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="posicion_contacto1" name="posicion_contacto" value="@Model.POSICION_CONTACTO_1" placeholder="Enter Position">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="telefono_contacto1" name="telefono_contacto" value="@Model.TELEFONO_CONTACTO_1" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Contact 2:</label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="nombre_contacto2" name="nombre_contacto" value="@Model.NOMBRE_CONTACTO_2" placeholder="Enter Name">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="posicion_contacto2" name="posicion_contacto" value="@Model.POSICION_CONTACTO_2" placeholder="Enter Position">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="telefono_contacto2" name="telefono_contacto" value="@Model.TELEFONO_CONTACTO_2" placeholder="Enter Phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Contact 3:</label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="nombre_contacto3" name="nombre_contacto" value="@Model.NOMBRE_CONTACTO_3" placeholder="Enter Name">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="posicion_contacto3" name="posicion_contacto" value="@Model.POSICION_CONTACTO_3" placeholder="Enter Position">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <input class="form-control" id="telefono_contacto3" name="telefono_contacto" value="@Model.TELEFONO_CONTACTO_3" placeholder="Enter Phone">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning" id="btn-actualizar">Actualizar</button>
                        <button type="button" class="btn btn-warning" id="btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    @if (Model.TIPO == "LOCAL")
    {
        <script type="text/javascript">
            document.getElementById("local").checked = true;           
        </script>
    }
        else
    {
        <script type="text/javascript">
            document.getElementById("exterior").checked = true;
        </script>
    }
    @if (Model.ESTADO == "1")
    {        
        <script type = "text/javascript" >
             document.getElementById("inlineCheckbox1").checked = true;
        </script>
    }
    else
    {
        <script type="text/javascript">
            document.getElementById("inlineCheckbox1").checked = false;
        </script>
    }


@*@if (Model.TPROVEEDOR == "CHF")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 0;
    </script>
}
else
{
   @if (Model.TPROVEEDOR == "GUA")
            {
                <script type="text/javascript">
                    document.getElementById("tproveedor").selectedIndex = 1;
                </script>
            }

   else
   {
          @if (Model.TPROVEEDOR == "HTL")
            {
                <script type="text/javascript">
                    document.getElementById("tproveedor").selectedIndex = 2;
                </script>
            }

          else
          { 
              
                                   @if (Model.TPROVEEDOR == "OFI")
                    {
                        <script type="text/javascript">
                            document.getElementById("tproveedor").selectedIndex = 3;
                        </script>
                    }
              
          }
   }
}*@


@*@if (Model.TPROVEEDOR == "CHF")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 0;
    </script>
}*@



@if (Model.TPROVEEDOR == "GUA")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 1;
    </script>
}
else
{
    if (Model.TPROVEEDOR == "OPE")
        {
            <script type="text/javascript">
                document.getElementById("tproveedor").selectedIndex = 2;
            </script>
        }
    else
    {
        if (Model.TPROVEEDOR == "HTL")
            {
                <script type="text/javascript">
                    document.getElementById("tproveedor").selectedIndex = 3;
                </script>
            }
        else
        {
            
           if (Model.TPROVEEDOR == "OFI")
            {
                <script type="text/javascript">
                    document.getElementById("tproveedor").selectedIndex = 4;
                </script>
            }
           else
           {
                if (Model.TPROVEEDOR == "OTR")
                {
                    <script type="text/javascript">
                        document.getElementById("tproveedor").selectedIndex = 5;
                    </script>
                }
                else
                {
                      <script type="text/javascript">
                        document.getElementById("tproveedor").selectedIndex = 0;
                    </script>
                }
           }
            
        }
    }
}












@*@if (Model.TPROVEEDOR == "GUA")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 1;
    </script>
}


@if (Model.TPROVEEDOR == "OPE")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 2;
    </script>
}

@if (Model.TPROVEEDOR == "HTL")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 3;
    </script>
}

@if (Model.TPROVEEDOR == "OFI")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 4;
    </script>
}


@if (Model.TPROVEEDOR == "OTR")
{
    <script type="text/javascript">
        document.getElementById("tproveedor").selectedIndex = 5;
    </script>
}*@